<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="container mt-5">
  <h6>Account no.: <%= account._id %></h6>
  <h6>Owner: <%= account.customer.first_name + ' ' + account.customer.last_name %></h6>
  <h6>Currency: <%= account.currency %></h6>
  <h6>Balance: <%= balance %></h6>
  <table class="table table-hover table-sm mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Transaction Number</th>
        <th scope="col">From Account</th>
        <th scope="col">To Account</th>
        <th scope="col">Amount</th>
        <th scope="col">Comment</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% account.transactions.forEach(transaction => { %>
        <tr>
          <th scope="row"><%= transaction._id %> </th>
          <td><%= transaction.transaction_number %></td>
          <td><a href="/accounts/<%= transaction.from_account %>"><%= transaction.from_account %></a></td>
          <td><a href="/accounts/<%= transaction.to_account %>"><%= transaction.to_account %></a></td>
          <td>$<%= transaction.amount %></td>
          <td><i><%= transaction.comment %></i></td>
          <td>
            <a href='/transaction/<%= transaction._id %>' class="btn btn-outline-warning">Clone</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('partials/footer') %>  
