<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Account: <%= id %> </h5>
          <hr>
          <h5 class="card-title">Owner: <%= customer.name %> </h5>
          <h6 class="card-subtitle mb-2 text-muted">Balance: $<%= balance %></h6>
          <hr>
          <p class="card-text mb-0">Address: <%= customer.address %></p>
          <p class="card-text mb-0">Phone: <%= customer.phone %></p>
          <p class="card-text">Issued On: <%= issued_on %></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5>All accounts from this customer:</h5>
          <div class="list-group mt-3">
            <button type="button" class="list-group-item list-group-item-action active">
              34343443
            </button>
            <button type="button" class="list-group-item list-group-item-action">344334334</button>
            <button type="button" class="list-group-item list-group-item-action">54545454</button>
            <button type="button" class="list-group-item list-group-item-action">1221212112</button>
            <button type="button" class="list-group-item list-group-item-action">2323232</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>