<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="container mt-5">
  <a href="/customers/create" class="btn btn-light">Register new</a>
  <table class="table table-hover table-sm mt-5">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% customers.forEach(customer => { %>
        <tr>
          <th scope="row"><%= customer.id_number  %></th>
          <td><%= customer.first_name + ' ' + customer.last_name %></td>
          <td><%= customer.address %></td>
          <td><%= customer.phone %></td>
          <td>
            <a href="/customers/<%= customer._id %>" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="/customers/<%= customer._id %>/accounts" class="btn btn-primary btn-sm"><i class="fa fa-files-o" aria-hidden="true"></i></a>
            <a href="javascript:;" data-id="<%= customer._id %>" class="btn btn-danger customer-remove-btn btn-sm">
              <i class="fa fa-trash-o" aria-hidden="true" data-id="<%= customer._id %>"></i>
            </a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('partials/footer') %>  
